doctype html
html
    head
        meta(charset="utf-8")
        title Easter Bunny HQ
    body(style="background-color: hsl(271, 46%, 32%); color: hsl(0,0%,70%);")
        .container
            h1  A trip to Easter Bunny HQ
            h2 Input
            p.input
            h2 Solution
            p.solution
    script(src="web-app.js")
